# =========================================================
# BACKEND APPLICATION 
# =========================================================

deploymentName: demo-application-api
namespace: gitops
replicaCount: 1
deployementType: RollingUpdate
maximumUnavailable: 50%
maximumSurge: 1



image: localhost:5055/cicdapp:8356ed5
pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8085
  nodeport: 30080

# =========================================================
# ENVIRONMENT VARIABLES
# These get injected into the Deployment
# =========================================================

environmentDetails:
    # GRADE_SERVICE_HOST: grade-submission-api
  # MONGODB_HOST: mongodb-service
  # MONGODB_PORT: '27017'


# =========================================================
# SECRETS (Do NOT commit real passwords)
# Helm template will read this for DB_PASSWORD
# =========================================================
secret:
  # MONGODB_USER: admin   # override in values-prod.yaml
  # MONGODB_PASSWORD: password123    # override in values-prod.yaml

# =========================================================
# RESOURCE REQUESTS / LIMITS (Production recommended)
# =========================================================
resources:
  requests:
    cpu: "200m"
    memory: "250Mi"
  limits:
    memory: "1Gi"

# =========================================================
# LIVENESS / READINESS PROBES
# (Helps Kubernetes restart broken apps)
# =========================================================
livenessProbe:
  enabled: true
  path: /actuator/health/liveness
  port: 8085
  initialDelaySeconds: 20
  periodSeconds: 10

readinessProbe:
  enabled: true
  path: /actuator/health/readiness
  port: 8085
  initialDelaySeconds: 20
  periodSeconds: 10

# =========================================================
# HPA (Optional - Autoscale backend)
# =========================================================
autoscaling:
  enabled: false
  minReplicas: 2
  maxReplicas: 10
  targetCPUUtilizationPercentage: 70


serviceMonitor:
  enabled: true
  path: /actuator/prometheus